@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.show {
  display: block !important;
}

#initial-screen {
  display: none;
  width: 100%;
  height: 100vh;
  background-image: url("/JestQuest/images/startbackgroud.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#lore-text {
  background-color: rgb(156, 156, 133);
  opacity: 0.8;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#start-btn {
  background-image: url("/JestQuest/images/playbtn.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-left: 45%;
  margin-top: 10%;
}

#instructions-screen {
  display: none;
  background-image: url("images/instructionsbackground.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#instructions-btn {
  background-image: url("images/instbotao-removebg-preview.png");
  background-size: cover;
  width: 200px;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-left: 45%;
  margin-top: 10%;
}

#transition-screen {
  display: none;
  background-image: url("images/transitionscreen.webp");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#game-screen {
  display: none;
}

#player-info {
  position: absolute;
  top: 0;
  color: white;
}

#room1-btn {
  background-image: url("images/btn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 20%;
}

#room2-btn {
  background-image: url("images/btn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 42%;
}

#room3-btn {
  background-image: url("images/btn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 75%;
}

#room1 {
  display: none;
  background-image: url("images/room1.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#room1-door1-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 15%;
}

#room1-door2-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45%;
  left: 40%;
}

#room1-door3-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45%;
  left: 62%;
}

#room1-door4-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 88%;
}

#room2 {
  display: none;
  background-image: url("images/room2.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#room2-door1-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 20%;
}

#room2-door2-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 55%;
  left: 83%;
}

#room3 {
  display: none;
  background-image: url("images/room3.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#room3-door1-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 20%;
}

#room3-door2-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 28%;
}

#room3-door3-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 43%;
  left: 33%;
}

#room3-door4-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 60%;
}

#room3-door5-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45%;
  left: 78%;
}

#room3-door6-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 72%;
}

#room3-door7-btn {
  background-image: url("images/maybebtn.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 60%;
  left: 88%;
}

#end-screen-victory {
  display: none;
}

#end-screen-defeat {
  display: none;
}

/*POPUP*/
.fullscreen-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style the content */
.fullscreen-popup p {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.bad-door-screen {
}
